.wrapper {
  padding: 10px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul > li{
  background: #ececec;
  margin-bottom: 10px;
  padding: 10px;
}

button{
  width: 90px;
  height: 30px;
}

#user-list {
  width: 15%;
}

.success,
.fail {
  display: none;
  
  background-color: #ececec;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

